iframe {
  width: 100%;
}
.main-container .container {
  max-width: 1170px;
}
#nav-links a:last-child {
  margin: 0;
}
.slider .owl-dots {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.owl-theme.slider .owl-dots .owl-dot span {
  background: black;
}
