iframe {
  width: 100%;
}
.main-container .container {
  max-width: 1170px;
}
#nav-links a:last-child {
  margin: 0;
}
.slider-main {
  position: relative;
  overflow: hidden;
}
.slider-main .slick-dots {
  bottom: 10px;
}
.pattern::after {
  content: "";
  background-image: url("../public/pattern.png");
  position: absolute;
  left: 0;
  right: 0;
}
.title::after {
  content: "";
  height: 2px;
  width: 100px;
  position: absolute;
  left: 0;
  bottom: 0;
}
